name: "Package & Release"

env:
  PROJECT_FOLDER: espace-collaboratif-qgis-plugin
  PLUGIN_NAME: IGN_Espace_Collaboratif
  PYTHON_VERSION: 3.9

on:
  pull_request:
    branches:
      - community
    paths:
      - .github/workflows/main.yml
      - requirements/packaging.txt

  push:
    branches:
      - community
    paths:
      - .github/workflows/main.yml
      - "docs/**/*"
      - "**/*.py"
      - "**/*.ui"
      - "metadata.txt"
    tags:
      - "*"

# Allow one concurrent deployment per branch/pr
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  # -- NO TAGS ----------------------------------------------------------------------
  packaging:
    name: "Packaging plugin"
    runs-on: ubuntu-latest

    if: ${{ !startsWith(github.ref, 'refs/tags/') }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          cache: "pip"
          cache-dependency-path: "requirements/packaging.txt"
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          python -m pip install -U pip setuptools wheel
          python -m pip install -U -r requirements/packaging.txt

      - name: Package the latest version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          qgis-plugin-ci package latest \
            --allow-uncommitted-changes \
            --plugin-repo-url $(gh api "repos/$GITHUB_REPOSITORY/pages" --jq '.html_url')

      - uses: actions/upload-artifact@v5
        with:
          name: ${{ env.PLUGIN_NAME }}-latest
          path: |
            plugins.xml
            *.zip
          if-no-files-found: error

  # -- ONLY TAGS ----------------------------------------------------------------------
  release:
    name: "Release on tag"
    runs-on: ubuntu-latest
    permissions:
      contents: write

    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          cache: "pip"
          cache-dependency-path: "requirements/packaging.txt"
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install project requirements
        run: |
          python -m pip install -U pip setuptools wheel
          python -m pip install -U -r requirements/packaging.txt

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          fail_on_unmatched_files: true
          generate_release_notes: true

      - name: Deploy plugin to QGIS Official Repository
        run: >-
          qgis-plugin-ci
          release ${GITHUB_REF/refs\/tags\//}
          --allow-uncommitted-changes
          --create-plugin-repo
          --github-token ${{ secrets.GITHUB_TOKEN }}
          --osgeo-username ${{ secrets.OSGEO_USER }}
          --osgeo-password ${{ secrets.OSGEO_PASSWORD }}
